.calFrame {
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0;
    border: 1px solid white;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
}