.day {
    /* border: 1px solid darkgray; */
    border-radius: 15px;
    width: 137.14px;
    height: 137.14px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.index {
    float: left;
    color: red;
    display: none;
}

.dayNum {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    float: right;
    padding-top: 5px;
    padding-right: 12px;
}

.date {
    margin-top: 60px;
    display: none;
}

.plData {
    /* color: white; */
    margin-left: 45px;
    margin-top: 55px;
    /* border: 1px solid black; */
}